.footer {
  position: relative;
  z-index: 3;
  border-top: 1px solid #e8e8e8;
  padding: 8px 0;
  color: #eaeaea;
  background-color: #252525;
  box-shadow: inset 0 5px 5px 0px #000;
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.footerHeading {
  font-size: 1.5rem;
  margin-bottom: 1.0rem;
  color: #fafafa;
}

.footerColWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footerCol {
  padding: 0 15px;
  margin-bottom: 1rem;
}

.footerCol1 {
  flex: 0 0 50%;
}

.footerCol2 {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footerCol2 p {
  margin: 0;
  padding: 0;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialMediaList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerCol2 a {
  color: #afafaf;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footerCol2 a:hover {
  color: #eaeaea;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-bottom: -4px
}

@media (max-width: 768px) {
  .footerCol {
    flex: 0 0 100%;
  }
}