html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* color: #333; */
  color: white;
  /* background-color: #252525; */
    background: linear-gradient(
    to bottom,
    #121212 0%,
    #121212 50%,
    #252525 50%,
    #252525 100%
  );
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: #f0ffff;
  /* border-bottom: 2px solid #ffffff; */
}

input[type="text"], input[type="password"] {
  background-color: #222;
  font-size: 15px;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

input[type="submit"] {
  background-color: #666;
  color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 15px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #23df1e;
}

input[type="date"] {
  background-color: #222;
  font-size: 15px;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  color-scheme: dark;
}

textarea {
  background-color: #222;
  font-size: 15px;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 200px;
  color-scheme: dark;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #303f30;
  color: #fff;
}

td {
  border-bottom: 1px solid #555;
}

tr:nth-child(odd) {
  background-color: #202020;
}

tr:nth-child(even) {
  background-color: #282828;
}



.modalOverlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  margin-top: 60px;
}

code {
  display: block;
  overflow-x: auto;
  background-color: #2d2d2d;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

code.linebreak {
  white-space: pre-wrap;
  word-break: break-all;
}

pre {
  overflow-x: auto;
  background-color: #2d2d2d;
  border-radius: 5px;
  padding: 4px !important;
  font-size: 12px;
  font-family: monospace, Arial, Helvetica, sans-serif;
}




.CodeMirror {
	color: rgb(var(--colors-secondary-dark)) !important;
	background-color: rgb(var(--background-color-bg-white-dark)) !important;
  border: none !important;
}

.CodeMirror-sided {
	border-radius: 0px !important;
}

.cm-s-easymde .CodeMirror-cursor {
	border-color: rgb(var(--border-color-line-dark)) !important;
}

.editor-toolbar {
	color: rgb(var(--colors-tertiary-dark)) !important;
	border: none !important;
	background-color: rgb(var(--background-color-bg-white-dark)) !important;
}

.separator {
	border-color: rgb(var(--border-color-line-dark)) !important;
}

.editor-toolbar > .active,
.editor-toolbar > button:hover,
.editor-preview pre,
.editor-preview-side,
.cm-s-easymde .cm-comment {
	color: rgb(var(--colors-secondary-dark)) !important;
	border-color: rgb(var(--border-color-line-dark)) !important;
	background-color: transparent !important;
}

.editor-preview {
	background-color: rgb(var(--background-color-bg-white-dark)) !important;
}

.cm-header-1 {
	font-weight: var(--font-weight-bold) !important;
	font-size: var(--text-3xl) !important;
}
.cm-header-2 {
	font-weight: var(--font-weight-bold) !important;
	font-size: var(--text-2xl) !important;
}
.cm-header-3 {
	font-weight: var(--font-weight-bold) !important;
	font-size: var(--text-xl) !important;
}
.cm-header-4 {
	font-weight: var(--font-weight-bold) !important;
	font-size: 1rem !important;
}

.editor-toolbar i {
  color: #fff !important;
}

.editor-toolbar i.separator {
  color: transparent !important;
  border-left: solid 1px #333 !important;
  border-right: solid 1px #333 !important;
  
}

.editor-toolbar {
  background-color: #222 !important;
  border-bottom: 1px solid rgb(var(--border-color-line-dark)) !important;
}