/* 851ゴチカクット by 8:51:22 pm */
@font-face {
  font-family: '851Gkktt';
  src: url('https://osu-denken.github.io/851Gkktt_005.ttf') format('truetype');
}

.container {
  padding: 0 2rem;
  padding-top: 50px;
}

.main {
  min-height: 85vh;
  padding-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #4fafff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  line-height: 5rem;
  font-family: '851Gkktt', sans-serif;
  font-weight: normal;
  text-shadow: 
    0 0 10px #00a6c499
    0 0 20px #50c7ffcc;
  /* color: transparent; */
  animation-name: lighting;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 8s;
}

@keyframes lighting {
  15% {
    text-shadow: 
      0 0 10px #00a6c499
      0 0 20px #50c7ffcc;
  }
  30% {
    text-shadow: 
      0 0 10px #00a6c4,
      0 0 20px #50c7ff;
  }
  50% {
    text-shadow: none;
  }
  70% {
    text-shadow: 
      0 0 10px #c4760099,
      0 0 20px #ffb950cc;
  }
  85% {
    text-shadow: 
      0 0 10px #c46f00,
      0 0 20px #ffb350;
  }
  100% {
    text-shadow: none;
  }
}

.flipContainer {
  width: 180px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flipper {
  position: relative;
  width: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front img,
.back img {
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.2;
  font-size: 1.2rem;
  max-width: 640px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: #2f2f2f8f;
  backdrop-filter: blur(1px);
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #4fafff;
  border-color: #4fafff;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.2rem;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.terminal {
  width: 640px;
  height: 320px;
  margin-top: 20px;
  margin-bottom: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #2f2f2f8f;
  backdrop-filter: blur(1px);
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  color-scheme: dark;
}

@media (max-width: 660px) {
  .terminal {
    width: 100%;
  }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  
  .title {
    font-size: 2.5rem;
  }

  .flipContainer {
    width: 100px;
    height: 56px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
}
