
.container {
  padding: 0 2rem;
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #121212;
}

.main {
  min-height: 77.5vh;
  padding-bottom: 2rem;
  width: 960px;
  max-width: 100%;
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: #ffffff10;
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #4fafff;
  border-color: #4fafff;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.description a {
  color: #4fafff;
}

.description a:hover {
  text-decoration: underline;
  color: inherit;
}

@media (max-width: 1020px) {
  .main {
    width: auto;
    max-width: 960px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 50px 2rem 0 2rem;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  
  .title {
    font-size: 2.5rem;
  }
 
  .main {
    width: auto;
    max-width: 600px;
  }
}
